[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion
